# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

node_modules

.jekyll-metadata

Gemfile.lock

# hugo
.hugo_build.lock
hugo/public-local
hugo/public-live
hugo/resources

# firebase
firebase/.firebase
